@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Nunito", sans-serif;
    background-color: #f8f8f8; 
}

.header-container {
    display: flex;
    flex-direction: column;
    background-size: cover;
    height: 100vh;
}

.top-heading{
    background-color: rgb(31, 30, 30);
    font-size: 14px;
    width: 100vw;
    font-family: "Nunito", sans-serif;
    text-align: center;
    color: white;
    padding: 5px;
}

.brand-icon {
    height: 50px;
    width: 60px;
    margin-right: 20px !important;
    margin-left: 10px;
}

.icons-container {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.nav-item {
    margin: 20px;
    color: rgb(2, 37, 16) !important;
    text-decoration: none;
    font-family: "Nunito", sans-serif !important;
    transition: color 0.3s ease;
}

.nav-item:hover {
    color: rgb(36, 127, 66) !important;
}



/* Footer section */

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 30px;
    margin-bottom: 30px;
}

.newsletter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(31, 30, 30);
    padding: 30px;
}

.heading1 {
    font-family: "Nunito", sans-serif;
    color: white;
    font-size: 20px;
    margin-top: 10px;
}

.para1 {
    font-family: "Nunito", sans-serif;
    color: white;
    font-size: 15px;
    margin: 24px;
    text-align: center;
}

.subscribe-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.mail-input {
    margin: 10px;
    width: 300px;
    height: 40px;
    background-color: transparent;
    color: white;
    font-family: "Nunito", sans-serif;
    border-style: solid;
    border-radius: 2px;
    border-color: rgb(95, 96, 95);
    padding: 20px;
    transition: border-color 0.3s ease;
}

.mail-input:focus {
    border-color: rgb(36, 127, 66);
}

.subscribe-button {
    background-color: white;
    font-family: "Nunito", sans-serif;
    color: black;
    font-size: 12px;
    width: 140px;
    height: 40px;
    margin: 10px;
    border: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.subscribe-button:hover {
    background-color: rgb(36, 127, 66); 
    color: white;
}

.quick-links-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    padding: 30px 0;
}

.link-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    text-align: center;
    flex: 1;
}

.links-heading {
    font-family: "Nunito", sans-serif;
    color: black;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
}

.links {
    font-family: "Nunito", sans-serif;
    color: rgb(79, 79, 79);
    font-size: 14px;
    margin: 15px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.links:hover {
    color: rgb(36, 127, 66);
}

.social-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 20px 0;
}

.social-icon {
    width: 30px;
    height: 30px;
    margin: 20px;
    transition: transform 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.1);
}

.payment-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-bottom: 20px;
}

.payment-image {
    width: 50px;
    height: 50px;
    margin: 20px;
    transition: transform 0.3s ease;
}

.payment-image:hover {
    transform: scale(1.1);
}

.copyright-image {
    width: 20px;
    height: 20px;
}

.bottom-heading {
    font-family: "Nunito", sans-serif;
    color: black;
    font-size: 14px;
    margin-left: 10px;
    text-align: center;
}
