include navbar
header.about-header
  .about-header-links
  img.about-logo(src="images/icon.jpg", alt="Everloop Logo")
  h1 About EverLoop

section.about-section
  div.about-company-origin
    h2 Our Origin
    p EverLoop was founded with a simple yet powerful mission: to reduce the environmental impact of the fashion industry. Our journey began when we realized the immense waste created by fast fashion and the growing need for sustainable solutions We set out to create a brand that offers high-quality, pre-loved fashion, giving garments a second life and promoting eco-friendly shopping practices.
    img.about-about-image(src="images/susta-about.jpg", alt="Sustainable Fashion Origin")

  div.about-company-goal
    h2 Our Goal
    p At Everloop, we are dedicated to making sustainable fashion accessible to everyone. Our goal is to empower consumers to make environmentally conscious choices without compromising on style. By promoting the resale of second-hand clothing, we aim to reduce the demand for new production, minimize waste, and contribute to a circular economy. We believe that fashion should be ethical, affordable, and above all, sustainable. Together, we can change the way the world thinks about fashion, one piece of clothing at a time.
    img.about-about-image(src="images/goal.jpg", alt="GreenStitch Goal")

  div.about-company-goals
    h2 Our Goals
    ul
      li
        strong Promote Sustainable Fashion: 
        | Make eco-friendly, second-hand clothing accessible, reducing the demand for new production.
      li
        strong Reduce Textile Waste: 
        | Minimize landfill waste by giving pre-loved clothes a second life through resale and upcycling.
      li
        strong Raise Awareness: 
        | Educate consumers about the impact of fast fashion and inspire sustainable shopping habits.
      li
        strong Support Local Communities: 
        | Empower local artisans by collaborating on the refurbishment and upcycling of garments.

  div.about-environmental-impact
    h2 Our Environmental Impact
    p By reusing and refurbishing second-hand clothing, Everloop significantly reduces textile waste, energy consumption, and carbon emissions. Our initiative aims to keep clothes out of landfills, reduce the need for new manufacturing, and promote a sustainable fashion cycle that benefits both people and the planet.
    img.about-about-image(src="images/envi.jpg", alt="Environmental Impact")

footer.about-footer-container
  div.d-flex.flex-row.justify-content-center
    img.about-copyright-image(src="images/copyright.png", alt="Copyright")          
    h1.about-bottom-heading 2025 Everloop, Inc.