// Extend base layout
extends layout

// Main content block
block content
  // Error container
  .container.mt-5
    h1 Error // Error heading
    p= message // Error message
    // Home link
    a.btn.btn-primary(href="/") Return to Home