include navbar
header.about-header
  img.about-logo(src="images/icon.jpg", alt="Everloop Logo")
  h1 Welcome to Everloop
  p Your eco-friendly destination for pre-loved fashion

section.about-section
  h2 Our Mission
  p
    strong EverLoop 
    | is a forward-thinking brand dedicated to promoting sustainable fashion and reducing waste.
    | We focus on the resale of second-hand and refurbished clothing, offering eco-conscious consumers an affordable
    | and ethical way to shop. By giving pre-loved clothes a second life, GreenStitch encourages the reuse of materials,
    | minimizing the demand for new production and contributing to a more sustainable future.
  img.about-about-image(src="images/mission.jpg", alt="Eco Friendly Fashion")

footer.about-footer-container
  div.d-flex.flex-row.justify-content-center
    img.about-copyright-image(src="images/copyright.png", alt="Copyright")          
    h1.about-bottom-heading 2025 Everloop, Inc.